@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import "normalize.scss";

$tan-dark: #71675D;
$tan-lite: #D3CDB4;
$blue: #172334;

* {
   box-sizing: border-box;
   margin:0;padding:0;
   color: #ffffff;
   font-family: 'Open Sans', Arial, sans-serif;
   text-decoration: none;
 }
body { background: #444; }
img { max-width: 100%; }
.content-wrapper {
   margin: 0 auto;
   // max-width: 600px;
   min-height: 100vh;
   text-align: center;
   background: #eee;
}

.st-row {
   display: table;
   height: auto;
   width: 100%;
   font-size: 0;
}
[class*="st-col"] {
   display: inline-block;
   font-size: 1rem;
}
.st-col-1-3 {
   width: calc((100% / 3) * 1);
}
.st-col-2-3 {
   height: 100%;
   width: calc((100% / 3) * 2);
}
.st-block {
   display: block;
   height: 0;
   padding-bottom: 100%;
   width: 100%;
}
/**************
  MAIN HEADER
**************/
.st-main--img {
   height: 100%;
   background-image: url('../img/young-couple-outdoors.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.st-header {
   background: red;
   max-height: 90vh;
   overflow: hidden;
}
.st-header--block {
   display: block;
   height: 0;
   padding-bottom: 200%;
   position: relative;
}
.st-header--content {
   height: 100%;
   position: absolute;
   top: 0;left: 0;
   width: 100%;

}
.st-main--img {
   height: 100%;
   background-image: url('../img/young-couple-outdoors.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
/**************
  FEATURETTES
**************/
.st-featurette--img {
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
}
.st-featurette__outdoors {
   background: darkseagreen;
   .st-block:nth-of-type(1) { background-color: #C6BDA4; }
   .st-block:nth-of-type(2)  { background-color: #BC7B19; }
   .st-featurette--img {background-image: url('../img/outdoor-swimming-pool.jpg'); }
}
.st-featurette__bbsquare {
   background: salmon;
   .st-block { background-color: $blue; }
   .st-featurette--img {background-image: url('../img/Blue-Back-Square.jpg'); }
}
.st-featurette__kitchen {
   background: darkseagreen;
   .st-block { background-color: #55771A; }
   .st-featurette--img {background-image: url('../img/stainless-steel-kitchen.jpg'); }
}
/*********
  FOOTER
*********/
#footer {
   padding: 100px 0;
   text-align: center;
   background-color: $blue;
   font-size: 1.2rem;
   * { opacity: 0.8; }
}
.footer--heading {
   font-size: 1.3em;
   font-weight: 300;
   text-transform: uppercase;
}
.footer--contact {
   font-size: 1em;
   font-style: normal;
   font-weight: 300;
   letter-spacing: 0.5px;
   margin: 10px 0 15px;
}
.footer--contact--address {
   i { display: inline-block;margin: 0 .5em; }
}
.footer--contact--email {
   display: block;
}
.footer--legal {
   font-size: 0.8em;
   font-weight: 300;
}

@media (max-width: 800px) {
   .st-header {
      display: block;
      width: 100%;
   }
   .st-header--block {
      padding-bottom: 150%;
   }
   .st-main--img {
      display: block;
      height: 0;
      padding-bottom: 100%;
      width: 100%;
   }
   #footer {
      padding: 20px 70px;
   }
}
